@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

html{
    font-family: 'open sans';
}

div .new{
    width: 73px;
    height: 35px;
    padding: 0% 3% 3% 3%;
    background: #FF5480;
    border-radius: 10px;
    font-size: 16px;
    color: #FFFFFF;
}

.busqueda{
    width: 24px;
    height: 24px;
    left: 1612px;
    top: 58px;
    background: url(../img/search-outline.svg);
}

img{
    width: 100%;
}


@media (max-width: 600px) {  
    .column{
        flex: 100%;
        padding: 5px;
    }
}
.img1{
    height: 358px;
    background-position: center ;
    background-image: url(../img/foto1.png);
    background-size: cover;
}
.img2{
    height: 358px;
    background-position: center ;
    background-image: url(../img/foto2.png);
    background-size: cover;
}.img3{
    height: 358px;
    background-position: center ;
    background-image: url(../img/foto3.png);
    background-size: cover;
}.img4{
    height: 358px;
    background-position: center ;
    background-image: url(../img/foto4.png);
    background-size: cover;
}.img5{
    height: 358px;
    background-position: center ;
    background-image: url(../img/foto5.png);
    background-size: cover;
}
.img6{
    height: 358px;
    background-position: center ;
    background-image: url(../img/foto6.png);
    background-size: cover;
}.img7{
    height: 358px;
    background-position: center ;
    background-image: url(../img/foto7.png);
    background-size: cover;
}.img8{
    height: 358px;
    background-position: center ;
    background-image: url(../img/foto8.png);
    background-size: cover;
}.img9{
    height: 358px;
    background-position: center ;
    background-image: url(../img/foto9.png);
    background-size: cover;
}.img10{
    height: 358px;
    background-position: center ;
    background-image: url(../img/foto10.png);
    background-size: cover;
}.img11{
    height: 358px;
    background-position: center ;
    background-image: url(../img/foto11.png);
    background-size: cover;
}.img12{
    height: 358px;
    background-position: center ;
    background-image: url(../img/foto12.png);
    background-size: cover;
}.img13{
    height: 358px;
    background-position: center ;
    background-image: url(../img/foto13.png);
    background-size: cover;
}.img14{
    height: 358px;
    background-position: center ;
    background-image: url(../img/foto14.png);
    background-size: cover;
}